*{
    text-decoration: none;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

h3 {
    margin: 20px;
}

h4 {
    margin: 10px;
}

.spacer {
    height: 220px;
    background-color: black;

}

.spacer2{
    height: 100px;
    background-color: black;
}

main {
    background-color: black;
}

.here {
    border: solid black 2px;
    padding: 7px;
    border-radius: 8px;
}

.color-bg .p-wrap {
    background-color: #0D0D0D;
}



/* ------------------------------------------------------------------------------------------------------------------- */
/* Burgermeny + Navbar */

.noscroll {
    height: 100%;
    overflow: hidden;
}

.burgerClose {
    display: none;
}

.logo{
    float: right;
    margin: 15px 20px;
    height: 43px;
}

.navbar {
    overflow: hidden;
    background: rgb(13,13,13);
    background: linear-gradient(180deg, rgba(13,13,13,1) 0%, rgba(64,1,1,1) 92%);
    position: relative;
}

.burger-container--links {
        display: none;
        text-align: center;
        height: 100vh;
        overflow: hidden;
}

.burger-container--links2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.burger-container--links a {
    color: white;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
    display: block;

}

.burgerIkon {
    margin: 20px;
}

.burgerClose {
    margin: 20px;
}


.link-button {
    padding: 5px;
    width: 140px;
    margin: 30px auto;
    border-radius: 13px;
    background-color: rgb(94, 23, 23);
}

.desktop-container--links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 27.5px;
    margin-left: 100px;
}

.desktop-container--links a {
    margin-right: 20px;
    margin-left: 20px;
}



/* ------------------------------------------------------------------------------------------------------------------- */

/* Home page style */
.home-container {
    background: rgb(64,1,1);
    background: linear-gradient(180deg, rgba(64,1,1,1) 52%, rgba(0,0,0,1) 100%);
    padding: 20px;
    font-size: 18px;
}

.home-header {
    text-align: center;
    margin: 0px 20px 20px 20px;
    padding-top: 20px;
}

.home-p {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.p-wrap {
    width: 75%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px;
}

.home-background {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 75%;
    border-bottom-right-radius: 75%;
}

.home-container--background {
    display: flex;
    justify-content: center;
}

/* ------------------------------------------------------------------------------------------------------------------- */

.home-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(0, 0, 0);
    padding: 20px;
    font-size: 18px;
}


.home-img {
    height: 150px;
    border-radius: 50%;
}

.home-img2{
    height: 150px;
}



.home-container--img {
    display: flex;
    justify-content: center;
    margin: 20px;
}



.home-container--button {
   text-align: center;
   margin-top: 20px;
}

.home-button {
    font-size: 15px;
    color: white;
    padding: 10px;
    background-color: #400101;
    border-radius: 13px;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* Posts */

.home-container--posts {
    text-align: center;
    background-color: black;
}

.home-content--posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.postImg {
    width: 200px;
    border-radius: 10%;
}

.blog-Container--Post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 13px;
    height: 250px;
    background-color: #0D0D0D;
}

.blog-Container--Post a {
    color: white;
}

.post-button {
    font-size: 15px;
    color: white;
    padding: 10px;
    background-color: #400101;
    border-radius: 13px;
    margin: 20px;
}


/* ------------------------------------------------------------------------------------------------------------------- */

/* Footer */
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(64,1,1,1) 33%);
    height: 100px;
}

.footer-content {
    width: 33%;
    height: 30px;
    text-align: center;
}


.footer-container--icons {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 33%;
}

.footer-icon {
    width: 30px;
    margin: 5px;
}














/* ------------------------------------------------------------------------------------------------------------------- */
/* mediaqs */

@media screen and (min-width: 1024px) {

    .burger-ikon {
        display: none;
    }

    .project-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .home-content--posts {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .blog-Container--Post {
        margin: 0 100px;
    }
}

@media screen and (max-width: 1023px) {

    .desktop-container--links {
        display: none;
    }



}